@font-face {
    font-family: 'ESE'; 
    src: url(../font/ESE.otf); 
    font-style: normal;
    font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	background: none;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
   	transition: 1s opacity;
}
#back3 a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: ESE;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 10px;
	text-decoration: none;
	background-color: #000;
	color: #fff; 
    -webkit-mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply;
	-o-mix-blend-mode: multiply;
	-ms-mix-blend-mode: multiply;
	mix-blend-mode:multiply;
	box-shadow: 0px 0px 15px 9px rgba(0,0,0,1);
	border-radius: 7px;
}
#back3 a svg, #back3 a svg rect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
#back3 a svg rect {
	stroke: #00e2ff;
	stroke-width:5px;
	transition: 2s;
	stroke-dasharray: 60 200;
	stroke-dashoffset: 320;
	stroke-linecap:round;
	stroke-linejoin:round;
}
#back3 a:hover svg rect {
	stroke: #ff0;
	stroke-dasharray: 200 60;
	stroke-dashoffset: 0;
	stroke-width:5px;
	stroke-linecap:round;
	stroke-linejoin:round;
}
#back3 {
	position: relative;
	width: 220px;
	height: 80px;
	top: 45%;
	left: 20%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 15px;
	margin-top: 20%;
}
.navbar {
	background-color: rgba(255,255,255,0.3);
}
.container {
	background-color: rgba(255,255,255,0.85);
	border-radius: 5px;
}
.navbar-brand, .nav-item {
	margin-left: 10px;
	font-family: ESE;
}
.image {
	overflow:hidden;
	width: 380px;
	height: 250px;
	margin-left: 16%;
	margin-top: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 9px rgba(0,0,0,1);
}
.image:hover {
	border-radius: 15px;
	box-shadow: 0px 0px 15px 9px rgba(0,0,0,1); 
}
.image img {
	width: 380px;
	height: 250px;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.image img:hover {
	width: 418px;
	height: 275px;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
}
@media (max-width: 376px) and (max-height: 668px) {
	.image,#grid,#back3 {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}